h1,
h2,
p {
  color: white;
}

h1,
h2 {
  text-align: center;
}

/* Section -----------------------------------------------*/

section {
  background-color: #333;
  margin-bottom: 20px;
  border-radius: 10px;
}

.top-section {
  padding: 2.5% 0% 2.5% 0%;
  margin: 0% 2% 0% 2%;
  border-bottom: 1px solid white;
}

.bottom-section {
  padding: 2.5% 2.5% 2.5% 2.5%;
  text-align: justify;
}

/* Meet the team -------------------------------------------------*/

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.name,
.title,
.alts,
.battle-net,
.armory {
  text-align: center;
  color: #333;
}

.photo {
  width:100%;
  border-radius: 5px;
}

.card a {
  text-decoration: none;
}

/* Some left and right padding inside the container */
.container-card {
  padding: 0 16px;
}

/* Clear floats */
.container-card::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {

}

/* .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
} */

/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 20px 0px 20px 0px;
}

article {
  max-width: 100%;
  text-align: justify;
  padding: 20px;
}

.article-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
