h1,
h2 {
  color: #FFFFFF;
  text-align: center;
}

/* Class guides --------------------------------------------------*/
.class-guides-entry {
  margin-bottom: 20px;
}

.accordion {
  background-color: #333333;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border: solid 1px #ffffff;
}

.accordion:hover {
  background-color: #666666;
  color: #FFFFFF;
}

.accordion-button {
  font-size: 39px;
  display: inline-block;
}

.class-icon {
  width: 39px;
  height: 39px;
  display: inline-block;
  margin-right: 30px;
}

.active-class {
  background-color: #666666;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}

.panel p {
  padding: 20px;
  width: 100%;
}

.priest.accordion,
.priest.panel {
  border: solid 1px #000000;
}

.guide-entry p:hover {
  background-color: #FFFFFF;
}

p.priest:hover {
  background-color: #666666;
}

.class-guides-link {
  padding: 20px;
  color: #ffffff;
  margin: 0px auto;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  border: none;
  outline: 0;
}



/*// Websites & addons links //*/

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.addons .container-card,
.websites .container-card {
  border: solid 1px #ffffff;
  border-radius: 5px;
}

.addons h2,
.websites h2 {
  border-bottom: solid 1px #ffffff;
  padding: 10px 0px 10px 0px;
}

.addon-description,
.website-description {
  padding: 10px;
  color: #FFFFFF;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.addon-button,
.website-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

.addon-button:hover,
.website-button:hover {
  background-color: #666666;
}

.description-author {
  color: #FFFFFF;
  text-align: right;
}

.website-description,
.addon-description {
  padding: 20px;
}

.description-author {
  padding-right: 20px;
  padding-bottom: 20px;
}

/*// Class colors //*/

.death-knight {
  background-color: #C41F3B;
  color: #FFFFFF;
}

.demon-hunter {
  background-color: #A330C9;
  color: #FFFFFF;
}

.druid {
  background-color: #FF7D0A;
  color: #FFFFFF;
}

.hunter {
  background-color: #ABD473;
  color: #FFFFFF;
}

.mage {
  background-color: #40C7EB;
  color: #FFFFFF;
}

.monk {
  background-color: #00FF96;
}

.paladin {
  background-color: #F58CBA;
}

.priest {
  background-color: #FFFFFF;
}

.rogue {
  background-color: #FFF569;
}

.shaman {
  background-color: #0070DE;
}

.warlock {
  background-color: #8787ED;
}

.warrior {
  background-color: #C79C6E;
}
