/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
}

.cards {
  max-width: 100%;
  margin: 0 auto 30px;
  padding: 20px 0px 20px 0px;
}

article {
  position: relative;
}

.welcome-article {
  height: 600px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}

.welcome-article-img {
  height: 600px;
  width: 100%;
}

.article-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
