html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bfa/second.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  font-family: "Lato", sans-serif;
  color: #818181;
}

.all {
  width: 80%;
  margin: 50px auto 100px auto;
}

.content {
  width: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr 12fr;
    grid-template-areas:
      "title date"
      "article article";

    height: auto;
    margin: 0 0 0 0;
    padding: 10px;
    background-color: grey;

}

.title, .date, .article {
    heigth: 100%;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.title {
    background-color: #ed4040;
    grid-area: title;
}

.date {
    background-color: #ffef68;
    grid-area: date;
}

.article {
    background-color: #99e265;
    grid-area: article;
}

.timer {
  text-align: center;
  border-bottom: 1px solid;
  border-color: white;
  border-width: 80%;
}

.timer p {
  display: inline-block;
}

/* .main {
    background-color: #99e265;
    grid-area: main;
}

.sidebar2 {
    background-color: #ffa500;
    grid-area: sidebar2;
    width: 100%;
}

.sidebar {
    background-color: #800080;
    grid-area: sidebar;
    width: 100%;
} */





/* ------------------------------------------------------------------------ */

/* The top navigation menu */
.navbar {
    position: fixed;
    top:0px;
    height:50px;
    background-color: #333;
    width: 80%;
    justify-content: space-around;
}

.navbar a {
  color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    background-color: #333333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a
 {
    display: block;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #cc0000;
}

ul.topnav li {
  width: 20%;
}

/* ul.topnav li.right {
  float: right;
} */

/* ------------------------------------------------------------------------ */

/* .content {

  min-height: 100%;
  margin: 0 auto 0;
} */

.content-inside {
  /* padding: 20px;
  padding-bottom: 50px;
  padding-top: 150px; */
}

/* Main */
main {
  /* width: 100%;
  height: 70vh; */
  color: white;
  /* padding: 5% 0% 15% 0%; */
}

main h1, h2 {
  text-align: center;
}



.light-grey {
  background-color: #333333;
}



.center {
    margin-left: auto;
    margin-right: auto;
}

article {
  font-size: 2em;

}

/* ------------------------------------------------------------------------ */

/*Footer*/
footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  background: #42A5F5;
  color: white;
  line-height: 50px;
  position: fixed;
  bottom:0px;
  height:100px;
  background-color: #333;
  width: 80%;
  /* padding: 0 20px; */
  /* margin-top: -50px; */
  /* width: 100%;
  background-color: #333333;
  color: #818181;
  text-align: center; */

}

/* .enclose {

  display: inline-block;
} */

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

/* .flex-box li {
  float: left;
}

.flex-box li a
 {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.contact-entry li {
  width: 20%;
} */

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
    list-style-type: none;
}

footer li {


}

/* ------------------------------------------------------------------------ */
