html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bfa/second.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  font-family: "Lato", sans-serif;
}

/* Width of all content */
.navbar,
.filter-progress,
.container,
footer {
  width: 70%;
  max-width: 1500px;
}

/* ------------------------------------------------------------------------ */

/* The top navigation menu */
.navbar {
    position: fixed;
    top:0px;
    height:50px;
    background-color: #333;
    justify-content: space-around;
    line-height: 50px;
    z-index: 2;
}

.navbar a {
  color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #cc0000;
}

ul.topnav li {
  width: 20%;
}

/* ------------------------------------------------------------------------ */

/* Container */
.container {
  margin: 50px auto 100px auto;
}

.content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* ------------------------------------------------------------------------ */

/*Footer*/
footer {
  background: #42A5F5;
  color: white;
  line-height: 50px;
  position: fixed;
  bottom:0px;
  height:100px;
  background-color: #333;
}

.timer {
  margin: 0 2% 0 2%;
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  border-width: 80%;
}

.timer p {
  display: inline-block;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
}

/* ------------------------------------------------------------------------ */
