* {
    box-sizing: border-box
}

.container {
  margin-top: 100px;
}

/* Progress filter -------------------------------------------------*/

.filter-progress {
  position: fixed;
  top:50px;
  height:50px;
  background-color: #333;
  z-index: 2;
  margin: 0 auto;

}

/* Hide columns by default */
.column {
    display: none;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  float: left;
  border: none;
  outline: none;
  height: 50px;
  background-color: white;
  cursor: pointer;
  width: 20%;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active-progress {
  background-color: #333;
  color: white;
}

/* Dropdown button -------------------------------------------------*/

.dropdown {
  width: 20%;
  height: 50px;
  float: left;
  overflow: hidden;
  text-align: center;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    height: 50px;
    width: 100%;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 20%;
}

.dropdown-content button {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.cards {
  width: 100%;
  margin: 0 auto 30px;
  padding: 20px 0px 20px 0px;
}

article {
position: relative;
  max-width: 100%;
}

.article-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
