h1,
h2,
p {
  color: white;
}

h1,
h2 {
  text-align: center;
}

p {
  line-height: 30px;
}

/*// Regulation //*/

.regs h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.regs {
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
}

.regs li {
  color: #FFFFFF;
  list-style-type: decimal;
}

/*// Recruitment //*/

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 900px) {
    .column {
        width: 100%;
        display: block;
    }
}

.first-note {
  margin-bottom: 30px;
}

.recruitment-name,
.recruitment-tag {
  display: inline-block;
  width: 50%;
  color: #FFFFFF;
}

.center {
  text-align: center;
}

.discord {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.discord:hover {
  background-color: #ffffff;
  color: #333;
}

.bottom-section h2 {
  margin-bottom: 20px;
}

/*// Class recruitment table //*/

table,
tr,
td {
  padding:  0;
  background-color: #ffffff;
}


table {
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
}

.class-name {
  padding-left: 10px;
  width: 60%;
}

.class-spec {
  color: #333;
  width: 10%;
}

.class-image {
  height: 36px;
}

.closed {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
