h1,
h2,
p {
  color: white;
}

h1,
h2 {
  text-align: center;
}

p {
  line-height: 30px;
}

.article-img {
  height: 48px;
  /* width: 100%; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* .column-2 {
    float: left;
    width: 66.6%;
    margin-bottom: 16px;
} */

.first-note {
  margin-bottom: 30px;
}

.recruitment-name,
.recruitment-tag {
  display: inline-block;
  width: 50%;
  color: #FFFFFF;
}

.center {
  text-align: center;
}

.discord {
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.discord:hover {
  background-color: #ffffff;
  color: #333;
}

/*// Class recruitment //*/

table,
tr,
td {
  padding:  0;
  background-color: #ffffff;
}


table {
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 5px;
}

.class-name {
  padding-left: 10px;
  width: 60%;
}



.class-name,
.class-spec {
  /* display: inline-block; */
}

.class-spec {
  width: 10%;
}

.class-image {
  height: 36px;
}

.close {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/*// Class colors //*/

.death-knight {
  background-color: #C41F3B;
}

.demon-hunter {
  background-color: #A330C9;
}

.druid {
  background-color: #FF7D0A;
}

.hunter {
  background-color: #ABD473;
}

.mage {
  background-color: #40C7EB;
}

.monk {
  background-color: #00FF96;
}

.paladin {
  background-color: #F58CBA;
}

.priest {
  background-color: #FFFFFF;
}

.rogue {
  background-color: #FFF569;
}

.shaman {
  background-color: #0070DE;
}

.warlock {
  background-color: #8787ED;
}

.warrior {
  background-color: #C79C6E;
}
